<div ng-include src="'/server-templates/includes/userInfo.html'"></div>
<div ng-include src="'/server-templates/includes/desktopMenu.html'"></div>
<div class="content">
    <div class="tabs">
        <a ng-show="showingProgressList" href="#"><span class="selected">Progress</span></a>
        <a ng-click="showProgressList();" ng-show="!showingProgressList" href="#"><span>Progress</span></a>

        <a ng-click="showUnlockedList();" ng-show="showingProgressList" href="#"><span>Unlocked</span></a>
        <a ng-show="!showingProgressList" href="#"><span class="selected">Unlocked</span></a>
    </div>
    <div class="listWrap">
        <div ng-show="!achievementList.length && showingProgressList" class="item"><p><strong>Challenge yourself now!</strong><br />Create an achievement and get to work on fulfilling it.</p></div>
        <div ng-show="!achievementList.length && !showingProgressList" class="item"><p><strong>Fulfill your dreams!</strong><br />Complete one of your dream achievements today.</p></div>
        <div ng-repeat="currentNotification in notificationList" class="item">
            <div>
                <div class="progressWrap">
                    <!-- <a href="app/achievement" ng-click="openAchievement(currentNotification);">-->
                            <img class="border" width="96" height="96" ng-src="{{currentNotification.imageURL}}" alt="{{currentNotification.title}}">
                            <span class="gradient-bg"></span>
                            <span class="progressbar"></span>
                            <div class="progress-container"><span class="progress" style="width:{{currentNotification.percentageCompleted}}%"></span></div>
                    <!--    </a>-->
                </div>
               <p>Challenge: {{currentNotification.title}}</p>
            </div>
        </div>
        <div ng-repeat="currentAchievement in achievementList" class="item">
            <div>
                <div class="progressWrap">
                    <a href="app/achievement" ng-click="openAchievement(currentAchievement);">
                        <img class="border" width="96" height="96" ng-src="{{currentAchievement.imageURL}}" alt="{{currentAchievement.title}}">
                        <span class="gradient-bg"></span>
                        <span class="progressbar"></span>
                        <div class="progress-container"><span class="progress" style="width:{{currentAchievement.percentageCompleted}}%"></span></div>
                    </a>
                    <ul class="icons">
                        <li><img ng-show="true" src="content/img/shared.png"></li>
                        <li><img ng-show="currentAchievement.publiclyVisible" src="content/img/public.png"></li>
                    </ul>
                </div>
                <p><a href="app/achievement" ng-click="openAchievement(currentAchievement);">{{currentAchievement.title}}</a></p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="header"> <span class="create-link"><a href="app/createAchievement">Create new achievement</a></span></div>
</div>
<div class="clear"></div>
<div ng-include src="'/server-templates/includes/bottomMenu.html'"></div>