<div ng-include src="'/server-templates/includes/userInfo.html'"></div>
<div ng-include src="'/server-templates/includes/desktopMenu.html'"></div>
<div class="content">
    <div class="listWrap" ng-if="achievementList">
        <div class="header">My achievements</div>
        <div ng-repeat="currentAchievement in achievementList" class="item">
            <div>
                <p><a href="app/achievement" ng-click="openAchievement(currentAchievement);">{{currentAchievement.title}}</a></p>
                <a href="app/achievement" ng-click="openAchievement(currentAchievement);"><img width="96" height="96" ng-src="{{currentAchievement.imageURL}}" alt="{{currentAchievement.title}}"></a>
            </div>
        </div>
        <div class="item">
            <p><a href="app/createAchievement">Create new achievement</a></p>
            <a href="app/createAchievement"><img width="96" height="96" ng-src="content/img/empty.png" alt="Create new achievement"></a>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div ng-include src="'/server-templates/includes/bottomMenu.html'"></div>