<div ng-include src="'/server-templates/includes/userInfo.html'"></div>
<div ng-include src="'/server-templates/includes/desktopMenu.html'"></div>
<div class="content">

    <div class="section">
        <div class="twothirds">
            <h3>{{achievement.title}}</h3>
            <p class="dark">
                {{achievement.description}}
            </p>
        </div>
        <div class="onethird">
            <div class="progressWrap">
                <img class="border" width="96" height="96" ng-src="{{achievement.imageURL}}" alt="{{achievement.title}}">
                <span class="gradient-bg"></span>
                <span class="progressbar"></span>
                <div class="progress-container"><span class="progress" style="width:{{achievement.percentageCompleted}}%"></span></div>
            </div>
             <ul class="icons-achievemntpage">
                <li><img ng-show="achievement.isShared" src="content/img/shared-grey.png"></li>
                <li><img ng-show="achievement.publiclyVisible" src="content/img/public-grey.png"></li>
             </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section">
        <div class="tabs">
            <a ng-show="!showingMyProgressTab" ng-click="openMyProgressTab($event);" href="#"><span>My progress</span></a>
            <a ng-show="showingMyProgressTab" href="#"><span class="selected">My progress</span></a>
                    
            <a ng-show="!showingShareTab" ng-click="openShareTab($event, achievement);" href="#"><span>Share</span></a>
            <a ng-show="showingShareTab" href="#"><span class="selected">Share</span></a>

            <a ng-show="!showingCompareTab" ng-click="openCompareTab($event, achievement);"  href="#"><span>Compare</span></a>
            <a ng-show="showingCompareTab" href="#"><span class="selected">Compare</span></a>
        </div>
        <div class="listWrap" ng-show="showingMyProgressTab">
            <div class="item"  ng-repeat="currentGoal in achievement.goals">
                <table>
                    <tr>
                        <td class="goal">
                            <p>{{currentGoal.title}} {{currentGoal.latestUpdated}}</p>
                            <div class="progressWrap">
                                <span class="progressbar"></span>
                                <div class="progress-container"><span class="progress" style="width:{{currentGoal.percentageCompleted}}%"></span></div>
                            </div>
                            <div class="counter">
                                <p>{{currentGoal.quantityCompleted}}/{{currentGoal.quantityTotal}}</p>
                            </div>
                        </td>
                        <td class="quantity">
                            <a href="#" ng-click="progress($event, currentGoal)"><img src="/content/img/+.png" alt="I did it!"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="listWrap" ng-show="showingShareTab">
            <div ng-show="achievement.createdByUser" class="item" ng-repeat="currentFriend in shareToList">
                <div class="userArea">
                    <a ng-href="/app/friend/{{currentFriend._id}}"><img class="border" style="width:50px;height:50px" ng-src="{{currentFriend.imageURL}}" ></a>
                    <p><a ng-href="/app/friend/{{currentFriend._id}}?backurl={{location}}">{{currentFriend.prettyName}}</a></p>
                    <div ng-show="!currentFriend.alreadyChallenged" class="remove"><a href="#" ng-click="share($event, achievement, currentFriend)">Share</a></div>
                    <div ng-show="currentFriend.alreadyChallenged" class="remove">Challenge sent!</div>
                </div>
            </div>
            
            <div ng-show="achievement.createdByUser" class="item" ng-repeat="currentFriend in shareToPendingList">
                <div class="userArea">
                    <a ng-href="/app/friend/{{currentFriend._id}}"><img class="border" style="width:50px;height:50px" ng-src="{{currentFriend.imageURL}}" ></a>
                    <p><a ng-href="/app/friend/{{currentFriend._id}}?backurl={{location}}">{{currentFriend.prettyName}}</a></p>
                    <div ng-show="!currentFriend.alreadyChallenged" class="remove">Pending</div>
                </div>
            </div>
            
            <div ng-show="achievement.createdByUser" class="item" ng-repeat="currentFriend in shareToAcceptedList">
                <div class="userArea">
                    <a ng-href="/app/friend/{{currentFriend._id}}"><img class="border" style="width:50px;height:50px" ng-src="{{currentFriend.imageURL}}" ></a>
                    <p><a ng-href="/app/friend/{{currentFriend._id}}?backurl={{location}}">{{currentFriend.prettyName}}</a></p>
                    <div ng-show="!currentFriend.alreadyChallenged" class="remove">Accepted</div>
                </div>
            </div>
            <div ng-show="!shareToList.length && !shareToPendingList.length && !shareToAcceptedList.length && {{achievement.createdByUser}}" class="item"><p><strong>Get social!</strong><br />Find some friends and challenge them.</p></div>
            <div ng-show="{{!achievement.createdByUser}}" class="item">You can only challenge your friends to achievements created by yourself.</div>
        </div>
        
        <div class="listWrap" ng-show="showingCompareTab">
            <div ng-show="{{compareList.length}}" class="item" ng-repeat="currentCompare in compareList">
                <div class="compareArea">
                    <div class="compareProgressWrap">
                        <img class="border" width="50" height="50" ng-src="{{currentCompare.createdByImageURL}}" alt="{{currentCompare.createdByName}}" >
                        <span class="gradient-bg"></span>
                        <span class="progressbar"></span>
                        <div class="progress-container"><span class="progress" style="width:{{currentCompare.percentageCompleted}}%"></span></div>
                    </div>
                    <p><a ng-href="/app/friendAchievement/{{currentCompare.createdBy}}/{{currentCompare._id}}?backurl={{location}}">{{currentCompare.createdByName}}</a></p>
                    <p>{{currentCompare.percentageCompleted}}%</p>
                </div>
            </div> 
            <div ng-show="{{!compareList.length}}" class="item">You can only compare shared achievements.</div>     
        </div>
    </div>

    <div class="header">
        <span class="create-link"><a href="#" ng-show="achievement.publiclyVisible" ng-click="unpublicize($event)">Unpublicize</a></span>
        <span class="create-link"><a href="#" ng-hide="achievement.publiclyVisible" ng-click="publicize($event)">Publicize</a></span>
        <span class="create-link"><a href="#">Edit(not implemented)</a></span>
        <span class="create-link"><a href="/app/achievements" ng-click="deleteAchievement($event)">Delete</a></span>
    </div>

    <div class="header" ng-show="achievement.publiclyVisible">
        <span class="create-link" ><a href="/public/achievementInstance/{{achievement._id}}">Visit public badge</a></span>
    </div>

    <div class="clear"> </div>
</div>
<div class="clear"></div>
<div ng-include src="'/server-templates/includes/bottomMenu.html'"></div>