<div ng-include src="'/server-templates/includes/userInfo.html'"></div>
<div ng-include src="'/server-templates/includes/desktopMenu.html'"></div>
<div class="content">

    <div class="section">
        <div class="twothirds">
            <h3>{{achievement.title}} by {{achievement.createdByName}}</h3>
            <p class="dark">
                {{achievement.description}}
            </p>
        </div>
        <div class="onethird">
            <div class="progressWrap">
                <img class="border" width="96" height="96" ng-src="{{achievement.imageURL}}" alt="{{achievement.title}}">
                <span class="gradient-bg"></span>
                <span class="progressbar"></span>
                <div class="progress-container"><span class="progress" style="width:{{achievement.percentageCompleted}}%"></span></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section">
        <div class="tabs">
            <span class="selected">My progress</span>
        </div>
        <div class="listWrap">
            <div class="item"  ng-repeat="currentGoal in achievement.goals">
                <table>
                    <tr>
                        <td class="goal">
                            <p>{{currentGoal.title}} {{currentGoal.latestUpdated}}</p>
                            <div class="progressWrap">
                                <span class="progressbar"></span>
                                <div class="progress-container"><span class="progress" style="width:{{currentGoal.percentageCompleted}}%"></span></div>
                            </div>
                            <div class="counter">
                                <p>{{currentGoal.quantityCompleted}}/{{currentGoal.quantityTotal}}</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>     
    </div>

    <div class="header">
        <span class="create-link"><a href="#">Accept(not implemented)</a></span>
        <span class="create-link"><a href="/app/achievements" ng-click="denyChallenge($event)">Deny</a></span>              
    </div>

    <div class="clear"> </div>
</div>
<div class="clear"></div>
<div ng-include src="'/server-templates/includes/bottomMenu.html'"></div>