<div ng-include src="'/server-templates/includes/userInfo.html'"></div>
<div ng-include src="'/server-templates/includes/desktopMenu.html'"></div>

<div class="content">
    <div class="section">
        <input type="email" class="formstyle" ng-model="searchEmail" placeholder="Friends e-mail" >
        <input type="submit" class="button" place value="Search" ng-click="searchForFriend($event, searchEmail)">
    </div>
    <div class="message" ng-show="pageMessage">
        <p>{{pageMessage}}</p>
    </div>

    <div class="message" ng-show="searchHitUser">
        <div class="userArea">
            <img src="{{searchHitUser.imageUrl}}" >
            <div class="addfriend"><a href="#" ng-click="sendFriendRequest($event, searchHitUser.username)">Send friend request</a></div>
            <div class="clear"> </div>
        </div>
    </div>

    <div class="listWrap">
        <div class="header">My friends</div>
        <div class="item" ng-repeat="f in friends" ng-hide="f.isHidden">
            <div class="newsUserArea">
                <img src="{{f.imageURL}}" >
                <p>{{f.username}} ({{f.direction}})</p>
                <div class="clear"> </div>
                <div class="remove">
                    <a href="#" ng-click="removeUser($event, f)">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"> </div>
</div>
<div class="clear"> </div>
<div ng-include src="'/server-templates/includes/bottomMenu.html'"></div>
