<div ng-include src="'/server-templates/includes/userInfo.html'"></div>
<div ng-include src="'/server-templates/includes/desktopMenu.html'"></div>

<div class="content">
    <div class="section">
        <input type="email" class="formstyle" placeholder="Ange din väns e-post adress">
        <input type="submit" class="button" value="Search">
    </div>
    <div class="message none">
        <p>lsporrek@avida.se is already your friend!</p>
    </div>

    <div class="message none">
        <div class="userArea">
            <img src="../content/img/user_has_no_image.jpg" >
            <p>namn/epost is found!</p>
            <div class="addfriend"><a href="#">Send friend request</a></div>
            <div class="clear"> </div>
        </div>
    </div>

    <div class="listWrap">
        <div class="header">My friends</div>
        <div class="item" ng-repeat="f in friends" ng-hide="f.isHidden">
            <div class="newsUserArea">
                <img src="{{f.imageURL}}" >
                <p>{{f.username}} ({{f.direction}})</p>
                <div class="clear"> </div>
                <div class="remove">
                    <a href="#" ng-click="removeUser(f)">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"> </div>
</div>
<div class="clear"> </div>
<div ng-include src="'/server-templates/includes/bottomMenu.html'"></div>
