<div ng-include src="'/server-templates/includes/userInfo.html'"></div>
<div class="content">
    <div class="section">
        <a href="javascript:void(0)" ng-click="uploadUserImage($event)"><img src="../content/img/upload.png" style="margin-top: 8px;"/></a>
        <div ng-show="isConverting" class="message"><p>Converting image...</p></div>
        <div ng-show="conversionError" class="message"><p>Image conversion error! Try another image?</p></div>
        <a href="javascript:void(0)" ng-click="signout($event)"><img src="../content/img/logout.png" style="margin-top: 8px;"/></a>
    </div>
    <div class="clear"></div>
</div>
<div ng-include src="'/server-templates/includes/desktopMenu.html'"></div>
<div ng-include src="'/server-templates/includes/bottomMenu.html'"></div>