<div ng-include src="'/server-templates/includes/userInfo.html'"></div>
<div ng-include src="'/server-templates/includes/desktopMenu.html'"></div>
<div class="content">
    <div id="morePage" class="morePage">
        <div class="section bottomborder">
            <a href="javascript:void(0)" ng-click="signout($event)"><img src="../content/img/logout.png" /></a>
        </div>
        <div class="section bottomborder">
            <h2>My profile</h2>
            <div class="userArea">
                <img width="50" height="50" ng-src="{{pageService.userImageURL}}" >
                <div class="">
                    <a href="javascript:void(0)" ng-click="uploadUserImage($event)"><button class="grey">Change picture</button></a>
                    <div ng-show="isConverting" class="message">
                        <div id="achievement-container">
                            <div class="part-achievement">
                                <div class="progress-container">
                                    <h3>Converting image...</h3>
                                    <table border="1px">
                                        <tbody>
                                            <tr>
                                                <td class="bararea">
                                                    <span class="progressbar" style="top: 25px;"></span>
                                                    <div id="progressbar-goal">
                                                        <span id="progress" class="progress" style="top: 26px; width:0%"></span>
                                                    </div>
                                                </td>
                                                <td id="countarea" class="countarea">
                                                    <h3></h3>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="errorState" class="message"><p>{{errorMessage}}</p></div>
                </div>
            </div>
            <div class="section">
                <input type="text" class="formstyle" ng-blur='nameUpdate()' ng-model="firstName" placeholder="First name">
                <input type="text" class="formstyle" ng-blur='nameUpdate()' ng-model="lastName" placeholder="Last name">
                <h3>Email</h3>
                <p>{{pageService.username}}</p>
            </div>
        </div>
        <div ng-hide="issuerRequestSent"  class="section bottomborder">
            <h2>Issuer</h2>
            <p>Want to create achievements available for all? Apply by clicking below.</p>
            <input type="button" class="button" ng-click="upgradeToIssuer($event)" value="Upgrade to issuer">
        </div>
        <div ng-show="issuerRequestSent" class="message">Your request has been sent and the happy people in Treehouse HQ will get back to you. We know your email.</div>
        <div ng-show="issuerRequestError" class="message">Oopsie, we dropped your request. Sorry! Email us at <a href='mailto:staff@treehouse.io'>staff@treehouse.io</a> and we will handle it.</div>
    </div>
</div>
<div class="clear"></div>
<div ng-include src="'/server-templates/includes/bottomMenu.html'"></div>