<!DOCTYPE html>
<html lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>Treehouse</title>
    <meta http-equiv="../content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="../content/treehouse-icon.png">
    <meta name="description" content="Treehouse helps you track your achievements. Explore. Achieve. Play!" />
    <meta name="keywords" content="Gamification, achievement, achieve, track" />
    <meta property="og:site_name" content="Treehouse" />
    <meta property="og:title" content="Treehouse. Track your achievements!" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://www.treehouse.io/content/img/treehouse.jpg"/>
    <meta property="og:url" content="http://www.treehouse.io/"/>
    <link rel="icon" href="../content/favicon.ico" type="image/vnd.microsoft.icon">
    <script>
        (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,"script","//www.google-analytics.com/analytics.js","ga");
        ga("create", "UA-47638344-1", "www.treehouse.io");
        ga("send", "pageview");
    </script>
    <script type="text/javascript" src="../content/js/css3-mediaqueries.js"></script>
    <script src="../content/ext/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="../content/js/newsfeed.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../content/css/core2.css" media="screen, projection, print" />
</head>
<body ng-app="App">
<div class="container" ng-controller="Ctrl">
    <div class="navigation"><h1>Newsfeed</h1></div>
    <div class="contentWrap">
        <div class="userArea">
            <img width="50" height="50" src="../{{userImageURL}}" >
            <p>{{prettyName}}</p>
            <div class="clear"> </div>
        </div>
        <div>
            <div class="desktopMenu">
                <ul>
                    <li><a href="#"><span class="selected">Newsfeed</span></a></li>
                    <li><a href="#"><span>Achievements</span></a></li>
                    <li><a href="/app/friends"><span>Friends</span></a></li>
                    <li><a href="/app/more"><span>More</span></a></li>
                </ul>
            </div>
            <div class="content">
                <div class="listWrap" ng-if="newsItems">
                    <div ng-repeat="newsItem in newsItems" ng-switch="newsItem.eventType" class="item">

                        <div ng-switch-when="info">
                            <p>{{newsItem.newsJson}}</p>
                        </div>
                        <div ng-switch-when="friends">
                            <div class="newsUserArea">
                                <img src="../content/img/user_has_no_image.jpg" >
                                <p>{{newsItem.newsJson.AchieverName}}</p>
                                <div class="clear"> </div>
                            </div>
                            <p>Became friends with {{newsItem.newsJson.FriendName}}</p>
                            <img width="96" height="96" src="{{newsItem.newsJson.FriendImageURL}}" alt="{{newsItem.newsJson.AchieverName}} became friends with {{newsItem.newsJson.FriendName}}">
                        </div>
                        <div ng-switch-when="progress">
                            <div class="newsUserArea">
                                <img src="../content/img/user_has_no_image.jpg" >
                                <p>{{newsItem.newsJson.AchieverName}}</p>
                                <div class="clear"> </div>
                            </div>
                            <p>Has made a progress on "{{newsItem.newsJson.AchievementName}}"</p>
                            <a ng-click="gotoAchivement($event, newsItem)">
                                <img width="96" height="96" src="{{newsItem.newsJson.AchievementImageURL}}" alt="{{newsItem.newsJson.AchieverName}} progressed {{newsItem.newsJson.AchievementName}}">
                            </a>
                        </div>
                        <div ng-switch-default><pre>{{newsItem | json}}</pre></div>
                    </div>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="bottomMenu">
        <ul>
            <li>
                <div class="selected">
                    <a href="#"><img src="../content/img/newsfeedicon-selected.png" alt=""></a>
                </div>
            </li>
            <li>
                <div class="">
                    <a href="#"><img src="../content/img/treeicon.png" alt=""></a>
                </div>
            </li>
            <li>
                <div class="">
                    <a href="#"><img src="../content/img/friendsicon.png" alt=""></a>
                </div>
            </li>
            <li>
                <div class=""><a href="#"><img src="../content/img/tree-tab.png" alt=""></a></div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>