<div ng-include src="'/server-templates/includes/userInfo.html'"></div>
<div ng-include src="'/server-templates/includes/desktopMenu.html'"></div>
<div class="content">
    <div class="listWrap" ng-if="newsItems">
        <div ng-repeat="newsItem in newsItems" ng-switch="newsItem.eventType" class="item">

            <div ng-switch-when="info">
                <p>{{newsItem.newsJson}}</p>
            </div>
            <div ng-switch-when="friends">
                <div class="newsUserArea">
                    <img class="border" src="../content/img/user_has_no_image.jpg" >
                    <p>{{newsItem.newsJson.AchieverName}}</p>
                    <div class="clear"> </div>
                </div>
                <div class="bg-image" style="background-image: url('{{newsItem.newsJson.FriendImageURL}}'); background-repeat: no-repeat; background-position: right;">
                    <div class="bg-image-shade" style=" background-color: rgba(0,0,0,0.0);">
                        <p class="news-text">Became friends with "<a href="#">{{newsItem.newsJson.FriendName}}</a>"</p>
                    </div>
                </div>
            </div>

            <div ng-switch-when="progress">
                <div class="newsUserArea">
                    <img class="border" src="../content/img/user_has_no_image.jpg" >
                    <p>{{newsItem.newsJson.AchieverName}}</p>
                    <div class="clear"> </div>
                </div>
                <div class="bg-image" style="background-image: url('{{newsItem.newsJson.AchievementImageURL}}');">
                    <div class="bg-image-shade">
                        <p class="news-text">Has made a progress on "<a href="#">{{newsItem.newsJson.AchievementName}}</a>"</p>
                    </div>
                </div>
            </div>

            <div ng-switch-when="publicize">
                <div class="newsUserArea">
                    <img class="border" src="../content/img/user_has_no_image.jpg" >
                    <p>{{newsItem.newsJson.AchieverName}}</p>
                    <div class="clear"> </div>
                </div>
                <div class="bg-image" style="background-image: url('{{newsItem.newsJson.AchievementImageURL}}');">
                    <div class="bg-image-shade">
                        <p class="news-text">Has published "<a href="#">{{newsItem.newsJson.AchievementName}}</a>"</p>
                    </div>
                </div>
            </div>
            <div ng-switch-default><pre>{{newsItem | json}}</pre></div>
        </div>

    </div>
</div>
<div class="clear"></div>
<div ng-include src="'/server-templates/includes/bottomMenu.html'"></div>