<div id="fb-root"></div>
<div class="signinContainer" ng-hide="isLoading">
    <div class="logo">
        <img alt="Treehouse" src="content/img/logo-large.png">
    </div>
    <div class="fbConnect">
        <p>Connect below to sign in / sign up</p>
        <input type="image" src="content/img/facebook.png" alt="Facebook Connect" ng-click="loginUsingFacebook($event)">
        <div ng-show="userClosedFBDialogue" class="message"><p>No worries! Try regular sign in instead.</p></div>
        <div ng-show="fbConnectError" class="message"><p>Facebook did not play nice! Try regular sign in instead.</p></div>
    </div>

    <div class="connectSeparator">
        <ul>
            <li><span></span></li>
            <li><p>OR</p></li>
            <li><span></span></li>
        </ul>
        <div class="clear"> </div>
    </div>

    <div class="emailSignin">
        <div ng-hide="isNewUser || isReturningUser">
            <form novalidate ng-submit="signinWithEmail($event)" name="emailSigninForm">
                <ul>
                    <li><input type="email" class="formstyle" placeholder="email" name="emailAddress" ng-model="emailAddress" required></li>
                    <li><input type="submit" class="button" value="sign in / sign up"/><li>
                </ul>
                <div ng-show="isEmailInvalid" class="message"><p>Please try a <i>real</i> email, ok?</p></div>
                <div ng-show="nothingEntered" class="message"><p>First law of Treehouse: First you type, then you press.</p></div>
            </form>
        </div>

        <div ng-show="authenticationFailure1" class="message"><p>Error code #1 just hit you for 999 damage. Adapt, reform, overcome!</p></div>
        <div ng-show="isNewUser" class="message"><p>We just sent you an email. Therein lies a link. Click it and you shall enter!</p></div>
        <div ng-show="isReturningUser" class="message"><p>We just sent you the old Treehouse email. Fetch email. Click link!</p></div>
    </div>
</div>
<div class="signinContainer" ng-show="isLoading">
    <div class="fullpageLoader">
        <img src="content/img/ajax-loader.gif" alt="">
    </div>
</div>