html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }


/* pre inloggningsidan */

.preLogin{
    background-color: #fff;
}

.preLogin .logo{
    background-color: #f7f7f7;
    border-bottom: 1px solid #e5f0dc;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.preLogin .content{
    width: 1060px;
    margin: 50px auto;
}

.preLogin h1{
    font: 20px Verdana;
    font-weight: bold;
    color: #878787;
    margin-bottom: 15px;
}

.preLogin h2{
    font: 20px Verdana;
    font-weight: bold;
    color: #474444;
    margin-bottom: 0px;
}

.preLogin p{
    font-family: Verdana;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    padding-top: 10px;
    color: #6f7c82;
}

.preLogin .examplesWrap p{
    line-height: 17px;
}

.preLogin .examplesWrap{
    background-color: #ffbbbb;
}

.preLogin .examplesWrap ul li{
    float: left;
    width: 20%;
    text-align: center;
}

.preLogin .examplesWrap ul li a{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 280px;
    width: 100%;
    display: block;
    color: #474444;
    padding: 20px 20px 0px 20px;
    border: 1px solid #e8e8e8;
    border-right: 0px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f1efef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1efef));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1efef 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f1efef 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f1efef 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f1efef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1efef',GradientType=0 );
    -webkit-transition: background-color 200ms ease;
    -moz-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    -ms-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    text-decoration: none;
    cursor: default;
}

.preLogin .examplesWrap ul li:last-child a{
    border-right: 1px solid #e8e8e8;
}

.preLogin .examplesWrap h3{
    font-family: Verdana;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    padding-top: 5px;
    color: #474444;
}

.preLogin .to-login-button{
    text-align: center;
    margin: 60px 0px 80px 0px;
}

.preLogin .to-login-button span{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    background: #53cc48; /* Old browsers */
    background: -moz-linear-gradient(top,  #53cc48 0%, #289522 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53cc48), color-stop(100%,#289522)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #53cc48 0%,#289522 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #53cc48 0%,#289522 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #53cc48 0%,#289522 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #53cc48 0%,#289522 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53cc48', endColorstr='#289522',GradientType=0 ); /* IE6-9 */

    padding: 20px 40px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.preLogin .to-login-button a{
    color: #ffffff;
    font-size: 16px;
    font: 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.preLogin .to-login-button span:hover{
    background-image: none;
    background-color: #289522;
}


/*common*/

.clear{
    clear: both;
}

.fiftywidth{
    width: 50%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fiftywidth:nth-child(1){
    padding-right: 15px;
}

.fiftywidth:nth-child(2){
    padding-left: 15px;
}

.none{
    display: none;
}

.fullpageLoader{
    margin: auto;
    text-align: center;
    padding-top: 330px;
}



/*Login*/

.loginContainer{
    -moz-box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);

    background: #64615f; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #64615f 5%, #131212 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(5%,#64615f), color-stop(100%,#131212)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #64615f 5%,#131212 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #64615f 5%,#131212 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #64615f 5%,#131212 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #64615f 5%,#131212 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64615f', endColorstr='#131212',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-radius: 10px;
    min-height: 800px;
    width: 1000px;
    margin: 50px auto;
    padding: 30px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.loginContainer .logo{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.loginContainer .fbConnect{
    text-align: center;
}

.loginContainer .fbConnect input{
    margin-top: 60px;
}

.loginContainer .emailLogin{
    margin: auto;
    width: 400px;
}

.loginContainer .message{
    margin-top: 30px;
    text-align: center;
}

.loginContainer .connectSeparator{
    margin: 60px 40px;
}

.loginContainer .connectSeparator ul li{
    float: left;
}

.loginContainer .connectSeparator ul li:first-child{
    width: 40%;
}

.loginContainer .connectSeparator ul li:nth-child(2){
    width: 20%;
    text-align: center;
}

.loginContainer .connectSeparator ul li:last-child{
    width: 40%;
}

.loginContainer .connectSeparator ul li:last-child span{
    height: 1px;
    width: 100%;
    display: block;
    background-image: -moz-linear-gradient( 180deg, rgb(80,78,76) 1%, rgb(85,84,84) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(80,78,76) 1%, rgb(85,84,84) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(80,78,76) 1%, rgb(85,84,84) 100%);
}

.loginContainer .connectSeparator ul li:first-child span{
    height: 1px;
    background-image: -moz-linear-gradient( 0deg, rgb(66,63,63) 0%, rgb(115,115,115) 50%, rgb(85,84,84) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(66,63,63) 0%, rgb(115,115,115) 50%, rgb(85,84,84) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(66,63,63) 0%, rgb(115,115,115) 50%, rgb(85,84,84) 100%);
    width: 100%;
    display: block;
}

/* */

.container{
    position: relative;
    background: #f4f4f4;

    -moz-box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);

    border-radius: 10px;
    min-height: 800px;
    width: 1000px;
    margin: 30px auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1{
    font-size: 20px;
    font-family: Verdana;
    font-weight: normal;
    color: #ffffff;
}

h2{
    font-size: 20px;
    font-family: Verdana;
    font-weight: normal;
    color: #474444;
    margin-bottom: 30px;
}

.contentWrap{
    padding: 20px;
}

.userArea{
    padding-bottom: 20px;
}

.userArea p{
    color: #434648;
}

.userArea img{
    float: left;
    margin-right: 10px;
    border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
}

.newsUserArea p{
    color: #ffffff;
    text-align: left;
    font-size: 12px;
}

.newsUserArea img{
    float: left;
    margin-right: 10px;
    border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
}

.wrap{
    float: right;
    width: 70%;
    padding-bottom: 30px;
}

.listWrap{
    margin-bottom: 50px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    background: #7e7b76; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #a8a7a5 0%, #7e7b76 90%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a7a5), color-stop(90%,#7e7b76)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a7a5', endColorstr='#7e7b76',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -moz-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:  1px 1px 5px rgba(0,0,0,0.5);

    float: right;
    width: 70%;
}

.listWrap .item{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #b7b6b6;
}

.listWrap .item p{
    padding-bottom: 20px;
}

.listWrap .item:last-child{
    border: 0px;
}

.listWrap .item img{
    border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgb(0,0,0);
    -webkit-box-shadow:  0px 0px 5px rgb(0,0,0);
    box-shadow:  0px 0px 5px rgb(0,0,0);
}



.navigation{
    padding: 10px;
    border-bottom: 1px solid #5c5c5b;
    width: 100%;
    text-align: center;

    background-color: rgb(124,126,127);
    background-image: linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -o-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.18, rgb(124,126,127)),
        color-stop(0.51, rgb(111,114,115)),
        color-stop(0.57, rgb(124,126,127))
    );

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 10px;

    border-bottomright-radius: 0px;
    border-bottomleft-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;

}

.desktopMenu{
    float: left;
    width: 28%;
}

.desktopMenu ul li{
    margin-bottom: 2px;
}

.desktopMenu ul li span{
    width: 100%;
    display: block;
    background-color: #444444;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.desktopMenu ul li span:hover,
.desktopMenu ul li span.selected{
    background-color: #232123;
}


.desktopMenu ul li:first-child span{
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;

    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
}

.desktopMenu ul li:last-child span{
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;

    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
}

.desktopMenu ul li a{
    color: #ffffff;
    font-family: Verdana;
    font-size: 14px;
    text-decoration: none;
}

.bottomMenu{
    display: none;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    border-top: 1px solid #000000;
    background-color: #131213;
    text-align: left;
    width: 100%;
}

.bottomMenu ul li{
    float: left;
    width:  25%;
    text-align: center;
}

.bottomMenu ul li div.selected{
    background-color: #232123;
}

.bottomMenu ul li div:hover{
    background-color: #232123;
}

/*form and fontstyles*/


input.formstyle,
textarea.formstyle{
    width: 100%;
    height: 38px;
    font-size: 16px;
    padding-left: 2%;
    color: #2c3524;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #6d6d6d;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input.error{
    -moz-box-shadow: inset -5px -5px 10px rgba(173,18,39,0.27);
    -webkit-box-shadow: inset -5px -5px 10px rgba(173,18,39,0.27);
    box-shadow: inset -5px -5px 10px rgba(173,18,39,0.27);
}

p{
    font-family: Verdana;
    font-size: 14px;
    color: #ffffff;
}

input.button{
    font-family: Verdana;
    font-size: 16px;
    text-transform: capitalize;
    width: 100%;
    height: 37px;
    border: 1px solid #6d6d6d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #404040;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bcbbbb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#bcbbbb));
    background: -webkit-linear-gradient(top, #ffffff 0%,#bcbbbb 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#bcbbbb 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#bcbbbb 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#bcbbbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcbbbb',GradientType=0 );
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

input.button:disabled{
    background-image: none;
    background-color: #bcbbbb;
    cursor: inherit;
    opacity: 0.7;
}

input.button:hover,
input.button:focus{
    background-image: none;
    background-color: #bcbbbb;
}


/*skärmanpassning*/

/*andreas fulhack starts here*/
.separerare-part{
    height: 2px;
    width: 100%;
    background-color: #706f6f;


    background-image: -moz-linear-gradient(bottom, #b7b6b6 49%, #757474 50%);
    background-image: -webkit-linear-gradient(bottom, #b7b6b6 49%, #757474 50%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, #b7b6b6),
        color-stop(0.5, #757474)
    );

}
/*andreas fulhack ends here*/

@media screen and (max-width: 1080px) {

    .preLogin .content{
        width: 95%;
    }

    .loginContainer,
    .container{
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {

    .preLogin .examplesWrap ul li{
        width: 33%;
    }
}

@media screen and (max-width: 800px) {
    html,body{height:100%;}

    .loginContainer{
        position: relative;
        margin: 0 auto;
        height:100%;
        min-height:100%;
        z-index: 1;
        width: 100%;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0px;
    }
    html>body .loginContainer{height:auto; min-height:100%;}

    .container{
        position: relative;
        margin: 0 auto;
        height:100%;
        min-height:100%;
        z-index: 1;
        width: 100%;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0px;
    }
    html>body .container{height:auto; min-height:100%;}

    .topMenu{
        border-radius: 0px;
    }

    .desktopMenu{
        display: none;
    }

    .bottomMenu{
        display: inherit;
    }

    .listWrap{
        float: none;
        width: 100%;
    }
}


@media screen and (max-width: 580px) {
    .preLogin .examplesWrap ul li{
        width: 50%;
    }

    .loginContainer .emailLogin{
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .preLogin .examplesWrap ul li{
        width: 100%;
    }

    .fiftywidth{
        width: 100%;
    }

    .fiftywidth:nth-child(1){
        padding: 0px;
    }
    .fiftywidth:nth-child(2){
        padding: 0px;
    }

    .loginContainer .logo img{
        width: 90%;
    }
}
