html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }



/* Tillagt av Erik, Linda sortera in och ta bort denna kommentar */

iframe.imageUploadFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Slut tillagt av Erik */

/*progress*/

.progressWrap{
   position: relative;
   width: 100px;
   margin: auto;
   margin-bottom: 5px;
}

span.gradient-bg{
    position: absolute;
    top: 10px;
    bottom: 5px;
    left: 5px;
    right: 3px;

    background-image: linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.21, rgba(0,0,0,0.5)),
        color-stop(0.42, rgba(0,0,0,0))
    );
}

div.progress-container{
    bottom: 0px;
    position: absolute;
    display: block;
    height: 4px;
    width: 68%;
    left: 1px;
    margin-left: 15%;
}

span.progressbar{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    bottom: 15px;
    position: absolute;
    display: block;
    height: 4px;
    width: 68%;
    background-color: rgba(0,0,0, 0.5);
    margin-left: 15%;
    border: 1px solid rgba(253,245,228,0.8);
}

span.progress{
    position: absolute;
    left: 0px;
    -moz-box-shadow: 0 0 6px 4px rgba(254,246,229,0.79);
    -webkit-box-shadow: 0 0 6px 4px rgba(254,246,229,0.79);
    box-shadow: 0 0 6px 4px rgba(254,246,229,0.79);
    width: 100%;
    height: 4px;
    bottom: 16px;
    background-color: #fdf5e4;

}





/* pre inloggningsidan */

.preSignin{
    background-color: #fff;
}

.preSignin .logo{
    background-color: #f7f7f7;
    border-bottom: 1px solid #e5f0dc;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.preSignin .preSigninContent{
    width: 1060px;
    margin: 50px auto;
}

.preSignin h1{
    font: 20px Verdana;
    font-weight: bold;
    color: #878787;
    margin-bottom: 15px;
}

.preSignin h2{
    font: 20px Verdana;
    font-weight: bold;
    color: #474444;
    margin-bottom: 0px;
}

.preSignin p{
    font-family: Verdana;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    padding-top: 10px;
    color: #6f7c82;
}

.preSignin .examplesWrap p{
    line-height: 17px;
}

.preSignin .examplesWrap{
    background-color: #ffbbbb;
}

.preSignin .examplesWrap ul li{
    float: left;
    width: 20%;
    text-align: center;
}

.preSignin .examplesWrap ul li a{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 280px;
    width: 100%;
    display: block;
    color: #474444;
    padding: 20px 20px 0px 20px;
    border: 1px solid #e8e8e8;
    border-right: 0px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f1efef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1efef));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1efef 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f1efef 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f1efef 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f1efef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1efef',GradientType=0 );
    -webkit-transition: background-color 200ms ease;
    -moz-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    -ms-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    text-decoration: none;
    cursor: default;
}

.preSignin .examplesWrap ul li:last-child a{
    border-right: 1px solid #e8e8e8;
}

.preSignin .examplesWrap h3{
    font-family: Verdana;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    padding-top: 5px;
    color: #474444;
}

.preSignin .to-signin-button{
    text-align: center;
    margin: 60px 0px 80px 0px;
}

.preSignin .to-signin-button span{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    background: #53cc48; /* Old browsers */
    background: -moz-linear-gradient(top,  #53cc48 0%, #289522 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53cc48), color-stop(100%,#289522)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #53cc48 0%,#289522 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #53cc48 0%,#289522 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #53cc48 0%,#289522 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #53cc48 0%,#289522 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53cc48', endColorstr='#289522',GradientType=0 ); /* IE6-9 */

    padding: 20px 40px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.preSignin .to-signin-button a{
    color: #ffffff;
    font-size: 16px;
    font: 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.preSignin .to-signin-button span:hover{
    background-image: none;
    background-color: #289522;
}


/*common*/

.clear{
    clear: both;
}

.fiftywidth{
    width: 50%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fiftywidth:nth-child(1){
    padding-right: 15px;
}

.fiftywidth:nth-child(2){
    padding-left: 15px;
}

.onethird{
    float: left;
    width: 33%;
    text-align: center;
}

.twothirds{
    float: left;
    width: 67%;
}

img.border{
    border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
}

.none{
    display: none;
}

.fullpageLoader{
    margin: auto;
    text-align: center;
    padding-top: 330px;
}

/*swap image*/

ul.swapimage{
    padding: 10px 0px;
}

ul.swapimage li{
    display: inline;
    margin-right: 10px;
}

ul.swapimage li:last-child{
    margin-right: 0px;
}

/* create goal*/

table tr td input.formstyle{
    margin-bottom: 0px;
}

table tr td.goal{
    width: 90%;
}

table tr td.quantity{
    width: 10%;
}



/*Sign in*/

.signinContainer{
    -moz-box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);

    background: #64615f; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #64615f 5%, #131212 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(5%,#64615f), color-stop(100%,#131212)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #64615f 5%,#131212 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #64615f 5%,#131212 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #64615f 5%,#131212 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #64615f 5%,#131212 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64615f', endColorstr='#131212',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-radius: 10px;
    min-height: 800px;
    width: 1000px;
    margin: 50px auto;
    padding: 30px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.signinContainer .logo{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.signinContainer .fbConnect{
    text-align: center;
}

.signinContainer .fbConnect input{
    margin-top: 60px;
}

.signinContainer .emailSignin{
    margin: auto;
    width: 400px;
}

.signinContainer .message{
    margin-top: 30px;
    text-align: center;
}

.signinContainer .connectSeparator{
    margin: 60px 40px;
}

.signinContainer .connectSeparator ul li{
    float: left;
}

.signinContainer .connectSeparator ul li:first-child{
    width: 40%;
}

.signinContainer .connectSeparator ul li:nth-child(2){
    width: 20%;
    text-align: center;
}

.signinContainer .connectSeparator ul li:last-child{
    width: 40%;
}

.signinContainer .connectSeparator ul li:last-child span{
    height: 1px;
    width: 100%;
    display: block;
    background-image: -moz-linear-gradient( 180deg, rgb(80,78,76) 1%, rgb(85,84,84) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(80,78,76) 1%, rgb(85,84,84) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(80,78,76) 1%, rgb(85,84,84) 100%);
}

.signinContainer .connectSeparator ul li:first-child span{
    height: 1px;
    background-image: -moz-linear-gradient( 0deg, rgb(66,63,63) 0%, rgb(115,115,115) 50%, rgb(85,84,84) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(66,63,63) 0%, rgb(115,115,115) 50%, rgb(85,84,84) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(66,63,63) 0%, rgb(115,115,115) 50%, rgb(85,84,84) 100%);
    width: 100%;
    display: block;
}

/* */

.container{
    position: relative;
    background: #f4f4f4;

    -moz-box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);

    border-radius: 10px;
    min-height: 800px;
    width: 1000px;
    margin: 30px auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1{
    font-size: 20px;
    font-family: Verdana;
    font-weight: normal;
    color: #ffffff;
}

h2{
    font-size: 20px;
    font-family: Verdana;
    font-weight: normal;
    color: #474444;
    margin-bottom: 30px;
}

.contentWrap{
    padding: 20px;
}

.userArea{
    position: relative;
    padding-bottom: 20px;
}

.userArea p{
    color: #434648;
}

.userArea img{
    float: left;
    margin-right: 10px;
}

.userArea .loader{
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    width: 43px;
    background-color: #fff;
    padding-left: 10px;
    padding-top: 8px;
}

.newsUserArea{
    position: relative;
}

.newsUserArea div.remove{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.newsUserArea div.remove a{
    color: #000000;
    font: 12px Verdana;
}

.header{
    position: relative;
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

    text-align: left;
    background-color: #000;
    line-height: 16px;
    height: 20px;
    padding: 10px 10px;
    font-size: 16px;
    font-family: Verdana;
    font-weight: normal;
    color: #ffffff;
}

span.create-link{
    padding-right: 15px;
}

span.create-link a{
    color: #fff;
    font-size: 12px;
}


.addfriend a{
    color: #000000;
    font: 12px Verdana;
    margin-bottom: 5px;
}

.newsUserArea p{
    color: #ffffff;
    text-align: left;
    font-size: 12px;
}

.newsUserArea img{
    float: left;
    margin-right: 10px;
    border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
}

.content .message p{
    color: #434648;
    margin-bottom: 20px;
    margin-top: 10px;
}

.section{
   padding-bottom: 20px;
}

.bottomborder{
    border-bottom: 1px solid #ccc;
}

.topborder{
    border-top: 1px solid #ccc;
}

.content{
    float: right;
    width: 70%;
}

.listWrap{
    margin-bottom: 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    background: #7e7b76; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #a8a7a5 0%, #7e7b76 90%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a7a5), color-stop(90%,#7e7b76)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a7a5', endColorstr='#7e7b76',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -moz-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:  1px 1px 5px rgba(0,0,0,0.5);


}

.listWrap .item{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #b7b6b6;
}

.listWrap .item p{
    padding-bottom: 20px;
}

.listWrap .item:last-child{
    border: 0px;
}

.listWrap .item img{
    border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgb(0,0,0);
    -webkit-box-shadow:  0px 0px 5px rgb(0,0,0);
    box-shadow:  0px 0px 5px rgb(0,0,0);
}

.navigation{
    padding: 10px;
    border-bottom: 1px solid #5c5c5b;
    width: 100%;
    text-align: center;

    background-color: rgb(124,126,127);
    background-image: linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -o-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.18, rgb(124,126,127)),
        color-stop(0.51, rgb(111,114,115)),
        color-stop(0.57, rgb(124,126,127))
    );

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 10px;

    border-bottomright-radius: 0px;
    border-bottomleft-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;

}

.desktopMenu{
    float: left;
    width: 28%;
}

.desktopMenu ul li{
    margin-bottom: 2px;
}

.desktopMenu ul li span{
    width: 100%;
    display: block;
    background-color: #444444;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.desktopMenu ul li span:hover,
.desktopMenu ul li span.selected{
    background-color: #232123;
}


.desktopMenu ul li:first-child span{
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;

    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
}

.desktopMenu ul li:last-child span{
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;

    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
}

.desktopMenu ul li a{
    color: #ffffff;
    font-family: Verdana;
    font-size: 14px;
    text-decoration: none;
}

.bottomMenu{
    display: none;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    border-top: 1px solid #000000;
    background-color: #131213;
    text-align: left;
    width: 100%;
}

.bottomMenu ul li{
    float: left;
    width:  25%;
    text-align: center;
}

.bottomMenu ul li div.selected{
    background-color: #232123;
}

.bottomMenu ul li div:hover{
    background-color: #232123;
}

/*More page*/

.morePage .section{
    margin-top: 15px;
}

.morePage p{
    color: #444444;
}

/*form and fontstyles*/


input.formstyle{
    width: 100%;
    height: 38px;
    font-family: Verdana;
    font-size: 14px;
    padding-left: 5px;
    color: #2c3524;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #6d6d6d;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

textarea{
    width: 100%;
    font-family: Verdana;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 5px;
    color: #2c3524;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #6d6d6d;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 100px;
}


input.error{
    -moz-box-shadow: inset -5px -5px 10px rgba(173,18,39,0.27);
    -webkit-box-shadow: inset -5px -5px 10px rgba(173,18,39,0.27);
    box-shadow: inset -5px -5px 10px rgba(173,18,39,0.27);
}

p{
    font-family: Verdana;
    font-size: 14px;
    color: #ffffff;
}

p a{
    font-family: Verdana;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

h3{
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    margin-bottom: 4px;
}

input.button{
    font-family: Verdana;
    font-size: 16px;
    text-transform: capitalize;
    width: 100%;
    height: 37px;
    border: 1px solid #6d6d6d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #404040;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bcbbbb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#bcbbbb));
    background: -webkit-linear-gradient(top, #ffffff 0%,#bcbbbb 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#bcbbbb 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#bcbbbb 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#bcbbbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcbbbb',GradientType=0 );
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

input.button:disabled{
    background-image: none;
    background-color: #bcbbbb;
    cursor: inherit;
    opacity: 0.7;
}

input.button:hover,
input.button:focus{
    background-image: none;
    background-color: #bcbbbb;
}

button.grey{
    font-family: Verdana;
    font-size: 16px;
    text-transform: capitalize;
    height: 37px;
    border: 1px solid #6d6d6d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #404040;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bcbbbb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#bcbbbb));
    background: -webkit-linear-gradient(top, #ffffff 0%,#bcbbbb 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#bcbbbb 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#bcbbbb 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#bcbbbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcbbbb',GradientType=0 );

    cursor: pointer;
}


button.grey:hover{
    background-image: none;
    background-color: #bcbbbb;
}

/*skärmanpassning*/

/*andreas fulhack starts here*/
.separerare-part{
    height: 2px;
    width: 100%;
    background-color: #706f6f;


    background-image: -moz-linear-gradient(bottom, #b7b6b6 49%, #757474 50%);
    background-image: -webkit-linear-gradient(bottom, #b7b6b6 49%, #757474 50%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, #b7b6b6),
        color-stop(0.5, #757474)
    );

}
/*andreas fulhack ends here*/

@media screen and (max-width: 1080px) {

    .preSignin .preSigninContent{
        width: 95%;
    }

    .signinContainer,
    .container{
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {

    .preSignin .examplesWrap ul li{
        width: 33%;
    }
}

@media screen and (max-width: 800px) {
    html,body{height:100%;}

    .signinContainer{
        position: relative;
        margin: 0 auto;
        height:100%;
        min-height:100%;
        z-index: 1;
        width: 100%;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0px;
    }
    html>body .signinContainer{height:auto; min-height:100%;}

    .container{
        position: relative;
        margin: 0 auto;
        height:100%;
        min-height:100%;
        z-index: 1;
        width: 100%;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0px;
    }
    html>body .container{height:auto; min-height:100%;}

    .topMenu{
        border-radius: 0px;
    }

    .content{
        width: 100%;
        float: none;
    }

    .desktopMenu{
        display: none;
    }

    .bottomMenu{
        display: inherit;
    }

}


@media screen and (max-width: 580px) {
    .preSignin .examplesWrap ul li{
        width: 50%;
    }

    .signinContainer .emailSignin{
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .preSignin .examplesWrap ul li{
        width: 100%;
    }

    .fiftywidth{
        width: 100%;
    }

    .fiftywidth:nth-child(1){
        padding: 0px;
    }
    .fiftywidth:nth-child(2){
        padding: 0px;
    }

    .signinContainer .logo img{
        width: 90%;
    }
}
