html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }


/*-- Facebook styles --*/
.fbpfl {
    width: 250px;
}

/*-- BASE STYLES -- */


body{
    background-color: #ffffff;
}


#page,
#page-login{
    position: relative;
    margin: 20px auto;
    width: 1060px;
}

#fbLikeWeb {
    float: left;
    text-align: right;
    margin-top: 20px;

}

#fbLike{
    padding-top: 20px;
    float: left;
    margin-right: 20px;
}

#tweetTreehouse{
    margin-top: 20px;
}

#tweetAchievement{
    float: left;
    margin-top: 20px;
}

#web-menu{
    height: 40px;
    width: 100%;
    margin-bottom: 30px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-color: rgb(124,126,127);
    background-image: linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -o-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.18, rgb(124,126,127)),
        color-stop(0.51, rgb(111,114,115)),
        color-stop(0.57, rgb(124,126,127))
    );

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
}

#web-menu a{
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fbfbfb;
    text-shadow: rgba(0,0,0,0.5) -1px 0;
}

#web-menu a span{
    padding-top: 10px;
    height: 30px;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
}

#web-menu a:hover span,
#web-menu a:focus span,
#web-menu a span.selected{
    background-color: #4a4b4c;

}

#web-menu ul li{
    float: left;
}

#web-menu ul li span{
    padding-top: 12px;
    height: 28px;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 1px solid #8b8d8e;
    border-right: 1px solid #525556;
}


#web-menu ul li img{
    margin-top: -7px;
}


#web-menu ul li.first{
    padding-top: 0px;
}

#web-menu ul li.first span{
    border-left: 0px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;

    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main-container{
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
}

#leftcontainer{
   float: left;
   width: 57.0%;            /* with small adjusted to image 660px / 1060px */
}


#leftcontainer img{
   width: 100%;
}

#rightcontainer{
    position: absolute;
    bottom: 0px;
    right: 3%;
    width: 31.132075%;       /*390px / 1060px*/
    width: 370px;

}




.web-wrap{

    padding-bottom: 20px;
}

#web-footer{
    margin-top: 30px;
    width: 100%;
}


#web-footer ul li{

    text-align: center;
   /* height: 110px;*/
    float: left;
    width: 21%;           /*224px / 1060px*/
    width: 23.584906%;

   /* border: 3px solid #fff;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    margin-right: 1.886792%;     /*20px / 1060px*/
    background-color: #f7f7f7;
}


#web-footer ul li span{
    padding:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    border: 3px solid #fff;
    height: 110px;
}

#web-footer ul li div{
    margin: auto;
    width: 90px;
    height: 55px;
    overflow: hidden; border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);

}

#web-footer ul li div img{
    width: 90px;
}

#web-footer ul li.last{
    margin-right: 0px;

}

.banner{
    display: none;
    position: absolute;
    background-color: #fff;
    right: 0px;
    bottom: 10%;
    padding: 10px 20px 10px 20px;
    -moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);

    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.7;
}

#app-container,
#app-container-login{
    position: relative;

    background: #f4f4f4; /* Old browsers */

    width: 100%;
    height: 480px;
    overflow: auto;

    -moz-box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 25px 2px rgba(0,0,0,0.5);

}

#app-container-login{
    background: #64615f; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #64615f 5%, #131212 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(5%,#64615f), color-stop(100%,#131212)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #64615f 5%,#131212 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #64615f 5%,#131212 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #64615f 5%,#131212 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #64615f 5%,#131212 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64615f', endColorstr='#131212',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-radius: 10px;

}


/*scroll on web-kit*/


#app-container::-webkit-scrollbar,
#app-container-login::-webkit-scrollbar{
    width: 7px;
}

/* Track */
#app-container::-webkit-scrollbar-track,
#app-container-login::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

 /*   -webkit-border-radius: 10px;
    border-radius: 10px;*/

}

/* Handle */
#app-container::-webkit-scrollbar-thumb,
#app-container-login::-webkit-scrollbar-thumb{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(216,216,216,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}



/*-- CONTENT --*/

#content{
    position: relative;
    padding: 20px;
}



.signup-logo{
    text-align: center;
    padding-bottom: 20px;
    padding-bottom: 20px;
}

.signup-logo img{
    max-width: 70%;
    padding-bottom: 5px;
}

#emailForm{
    width: 100%;
    text-align: center;
    font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #fff;
}

#emailForm #message{
    font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #fff;
}


#emailForm input{
    width: 73%;
}

#emailForm input.formstyle{
    width: 69.5%;
}

.login-separator{
    width: 100%;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.login-separator ul li{
    float: left;
    width: 33%;
    color: #f5f4f4;
    text-align: center;

    font-family: verdana;
    font-size: 12px;

}

.login-separator ul li span{
    margin-top: 4px;
    width: 100%;
    height: 1px;
    background-color: #a1a09f;
    display: block;
}


.log-in-text{
    text-align: center;
    padding-top: 20px;
}

#infoArea {
    background-color: #fff;
    min-height: 630px;

    background-image: url(../img/treehouse.jpg);
    background-repeat: no-repeat;
    background-position: top left;
}


#infoArea div{
    padding: 20px 20px 20px 0px;
    background-color: #fff;
    min-height: 590px;
}

#infoArea img{
    padding: 0px;
}

.menu-static {
    position: static;
}

.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.menu-area-fixed {
    position: fixed;
    border: 1px;
    width: 370px;
    height:  38px;
}

#topMenu{
    position: relative;

    height: 38px;
    z-index: 1;
    border-bottom: 1px solid #5c5c5b;

    background-color: rgb(124,126,127);
    background-image: linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -o-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.18, rgb(124,126,127)),
        color-stop(0.51, rgb(111,114,115)),
        color-stop(0.57, rgb(124,126,127))
    );

    text-align: left;
    width: 100%;
}

#topMenu ul li{
    display:inline;
    width: 100%;
    text-align: center;
}

#topMenu ul li:first-child{
    position: absolute;
    left: 0px;
}

#topMenu h2{
    color: #ffffff;
    font-size: 1.2em;
    font-weight: normal;
    padding-top: 8px;
}


#menu{
   /* position: relative;*/
    position: absolute;
    bottom: 0px;
    height: 40px;
    z-index: 2;
    border-top: 1px solid #000000;
    background-color: #131213;


    text-align: left;
    width: 100%;
}

#menu ul li{
    float: left;
    width:  33.33%;
    text-align: center;
}

#menuIconFriend{
    position: relative;
}

#menu ul li div.selected{
    height: 39px;
    background-color: #232123;
}

#menu ul li div:hover{
    height: 39px;
    background-color: #232123;
}

#menu ul li.signIn{
    width: 100%;
    text-align: center;
}

#menu ul li div span{
    background-color: #a90505;
    display: block;
    position: absolute;
    width: 10px;
    left: 55%;
    top: 7px;
    padding: 2px 4px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 0 5px #fff;
    -webkit-box-shadow: inset 0 0 5px #fff;
    box-shadow: inset 0 0 5px #fff;
}

#menu ul li div a{
    color: #ffffff;
}

#menu ul li a{
    text-decoration: none;
}

#menu ul li span.hoverDesktop{
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    background: #5a5e5f; /* Old browsers */
    background: -moz-linear-gradient(top,  #5a5e5f 0%, #727576 50%, #5a5e5f 52%, #727576 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a5e5f), color-stop(50%,#727576), color-stop(52%,#5a5e5f), color-stop(100%,#727576)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5a5e5f 0%,#727576 50%,#5a5e5f 52%,#727576 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5a5e5f 0%,#727576 50%,#5a5e5f 52%,#727576 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5a5e5f 0%,#727576 50%,#5a5e5f 52%,#727576 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5a5e5f 0%,#727576 50%,#5a5e5f 52%,#727576 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5e5f', endColorstr='#727576',GradientType=0 ); /* IE6-9 */

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    padding-bottom: 6px;
    padding-top: 6px;

    -moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;

    text-align: center;

    border: 1px solid #5a5b5b;
}

#menu ul li.selected span{
    background: none;
    background-color: #4a4b4c;
}

#menu ul li span.hoverDesktop:hover{
    background: none;
    background-color: #4a4b4c;
}




.actionmenu{
    margin-top: 0px;
    margin-bottom: 10px;
}

.actionmenu ul li{
    display: inline;
    margin-right: 3px;
}

.actionmenu ul li.rightalign{
    float: right;
    margin-left: 3px;
    margin-right: 0px;
}

.tree-tab{
    text-align: center;
}

/**/

/*-- friendsList --*/

#friendsList{
    margin-top: 20px;
    padding-bottom: 50px;
}

#friendsList .header{
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;

    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;

    -moz-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:  1px 1px 5px rgba(0,0,0,0.5);

    text-align: center;
    color: #fff;
    background-color: #000;
    font: 14px 'Philosopher', sans-serif;
    padding: 4px 0px;
    font-weight: bold;
}

#friendsList .myfriends{
    width: 100%;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;

    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;

    background: #7e7b76; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #a8a7a5 0%, #7e7b76 90%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a7a5), color-stop(90%,#7e7b76)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a7a5', endColorstr='#7e7b76',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    -moz-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
}

#friendsList .itemwrap{
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 15px;
}

#friendsList .itemwrap span{
    position: absolute;
    bottom: 12px;
}

#friendsList .itemwrap span.remove{
    position: absolute;
    bottom: 12px;
    right: 0px;
}

#friendsList .itemwrap span.confirm{
    position: absolute;
    bottom: 12px;
    right: 50px;
}

#friendsList .itemwrap span.ignore{
    position: absolute;
    bottom: 12px;
    right: 0px;
}



#friendsList .itemwrap span a{
    font-family: 'Philosopher', sans-serif;
    color: #131213;
    text-decoration: underline;
}

#friendsList .itemwrap h3{
    font-size: 13px;
}


#friendsList .itemwrap .leftcontainer{
    float: left;
    padding-bottom: 7px;
    margin-right: 10px;
}

#friendsList .itemwrap .rightcontainer{
    float: left;
}

#message .messagewrap .leftcontainer{
    float: left;
    padding-bottom: 7px;
    margin-right: 10px;
}

#message .messagewrap .rightcontainer{
    font-family: 'Philosopher', sans-serif;
    color: #131213;
    float: left;
    font-size: 15px;
}

#message{
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
    color: #131213;
}

#message .messagewrap .rightcontainer div.linkactions{
   padding-top: 20px;
}
#message .messagewrap .rightcontainer div.linkactions span{
    padding-right: 20px;
}


#message .messagewrap .rightcontainer div.linkactions a{
    font-family: 'Philosopher', sans-serif;
    color: #131213;
    text-decoration: underline;
    font-size: 13px;
}

.messagewrap{
    position: relative;
}



/* -- moreList --*/

#moreList{
    padding-top: 20px;
}

#moreList ul li{
    padding-bottom: 30px;

}

/*-- LOG IN / SIGN UP --*/


input.formstyle,
textarea.formstyle{
    width: 97.5%;
    height: 33px;
   /* margin-top: 2px;*/
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    padding-left: 2%;
    color: #2c3524;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  /*margin-bottom: 15px;*/
    border: 1px solid #6d6d6d;
}

input.button{
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    text-transform: capitalize;

    width: 100%;
    height: 37px;

    border: 1px solid #6d6d6d;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    color: #404040;


    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #bcbbbb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#bcbbbb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#bcbbbb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#bcbbbb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#bcbbbb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#bcbbbb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcbbbb',GradientType=0 ); /* IE6-9 */


    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.achievement-info .formstyle{
    margin-bottom: 5px;
}


textarea.formstyle{
    width: 98%;
    height: 82px;
    margin-bottom: 0px;
}

input.button:hover,
input.button:focus{
    background-image: none;
    background-color: #bcbbbb;
}

/*file*/

div.fileinputs {
    position: relative;
    margin-top: 5px;
    padding-left: 25px;
}

.fileinputs ul li{
    float: left;
    margin-right: 10px;

}

.fileinputs ul li.last{

}

div.fileupload {
    text-align: center;
}

iframe.imageUploadFrame {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

div.fakefile {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;

    font-family: 'Philosopher', sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    padding-top: 5px;
    width: 95px;
    height: 18px;
    text-align: center;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    color: #747870;
    background-color: #bed9da;
    background-image: -moz-linear-gradient(bottom, rgb(177,198,199) 49%, rgb(190,217,218) 51%);
    background-image: -webkit-linear-gradient(bottom, rgb(177,198,199) 49%, rgb(190,217,218) 51%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, rgb(177,198,199)),
        color-stop(0.51, rgb(190,217,218))
    );

    border: 1px solid #a4b9b9;


    -moz-box-shadow: inset 0px 0px 5px rgb(255,255,255);
    -webkit-box-shadow: inset 0px 0px 5px rgb(255,255,255);
    box-shadow: inset 0px 0px 5px rgb(255,255,255);
    cursor: pointer;

}

input.file {
    position: relative;
    text-align: right;
    width: 95px;
    float: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}


.none{
    display: none;
}

.desktop{

}

.ipad{
    display: none;
}

/* achievement page */

.achievement{
    position: relative;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
}


.first{
    padding-top: 50px;
}

#userarea img,
.imagearea img,
.create-imagearea img,
.user-image img,
.leftcontainer img{
    border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
}

.achievement a img{
    border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgb(0,0,0);
    -webkit-box-shadow:  0px 0px 5px rgb(0,0,0);
    box-shadow:  0px 0px 5px rgb(0,0,0);
}

.achievement a{
    display: block;
}

.achievement a:hover img{

    -moz-box-shadow:  0px 0px 20px rgb(0,0,0);
    -webkit-box-shadow:  0px 0px 20px rgb(0,0,0);
    box-shadow:  0px 0px 20px rgb(0,0,0);
}

.user-image{
    text-align: right;
}

.achievement-info{
    padding-top: 10px;
    margin-right: 5%;
    margin-left: 6%;
    padding-bottom: 70px;
}

.addbutton{
     text-align: right;
    height: 24px;

}


.textarea{
    width: 65%;
    float: left;
    position: relative;
    margin-bottom: 40px;
}

.textarea h2{
  /*  padding: 1px 0px 1px 7px;
    background-color: #596167;*/
    color: #434648;
  /*  border-radius: 2px;
    margin-top: 3px;
    text-shadow: 1px 1px 1px #224272;*/
}

.inputarea{
   float: left;
   width: 60%;
}

#contentwrap{
    padding-top: 10px;
    margin-right: 5%;
    margin-left: 6%;
    padding-bottom: 10px;
}

#userarea{
    height: 50px;
    margin-bottom: 10px;

}
#userarea img{
    float:left;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}



#userarea p,
p#creator{
    font-family: 'Philosopher', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 0px;
}

#userarea a.headerlink{
    color: #3678d2;
}

#achievementListTabs{
    height: 20px;
}

#achievementListTabs span{
    display: inline;
    background-color: #131213;
    padding: 5px 8px;
    text-decoration: none;

    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;

    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    margin-right: 3px;
}

#achievementListTabs span.selected{
    background-color: #7e7b76;

}

#achievementListTabs span:hover{
    background-color: #7e7b76;
}

#achievementListTabs a span{
    color: #fff;
    text-decoration: none;
}

#achievementList{

  /*  margin: 10px 5% 10px 5%;*/
    margin-bottom: 50px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;

    background: #7e7b76; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #a8a7a5 0%, #7e7b76 90%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a7a5), color-stop(90%,#7e7b76)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a7a5', endColorstr='#7e7b76',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    -moz-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
}



#achievementDesc{
    min-height: 400px;
}

.achievement .container{
    width: 100px;
    position: relative;
    margin: 0px auto;
    display: block;
}

.imagearea-container{
    position: relative;
    float: right;
    text-align: right;
}

.create-imagearea{
    position: relative;

}

.imagearea{
    position: relative;
    float: right;
    text-align: right;
    margin-bottom: 40px;
}


.imagearea div.progress-container,
.create-imagearea div.progress-container{
    position: absolute;
    width: 68%;
    left: -1px;
    margin-left: 16%;
    height: 9px;
    bottom: 16px;
}

span.unlockedDate{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 25px;
    left: 5px;
    color: #fff;
    font-family: 'Philosopher', sans-serif;
    font-size: 13px;
    width:90px;
    padding: 2px 0px;
}

span.achievementpage{
    left: 3px;
}

span.unlockedDate div{
    position: relative;
    text-align: center;
    width: 100%;
}

span.gradient-bg{
    position: absolute;

    top: 10px;
    bottom: 6px;
    left: 5px;
    right: 5px;

    background-image: linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.21, rgba(0,0,0,0.5)),
        color-stop(0.42, rgba(0,0,0,0))
    );
}

.imagearea span.gradient-bg,
.create-imagearea span.gradient-bg{
    left: 3px;
    right: 3px;

}

span.progressbar{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    bottom: 15px;
    position: absolute;
    display: block;
    height: 4px;
    width: 68%;
    background-color: rgba(0,0,0, 0.5);
    margin-left: 15%;
    border: 1px solid rgba(253,245,228,0.8);
}

div.progress-container-achievements{
    bottom: 0px;
    position: absolute;
    display: block;
    height: 4px;
    width: 68%;
    left: 1px;
    margin-left: 15%;

}

span.progress{
    position: absolute;
    left: 0px;
    -moz-box-shadow: 0 0 6px 4px rgba(254,246,229,0.79);
    -webkit-box-shadow: 0 0 6px 4px rgba(254,246,229,0.79);
    box-shadow: 0 0 6px 4px rgba(254,246,229,0.79);
    width: 100%;
    height: 4px;
    bottom: 16px;
    background-color: #fdf5e4;

}


.imagearea .progress-container span.progress{
    top: 5px;
}

#sharer-container {
    width: 100%;
  /*  margin: 0px 0% 10px 0%;
    padding: 10px 10px 10px 10px;*/

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;

    background: #7e7b76; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #a8a7a5 0%, #7e7b76 90%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a7a5), color-stop(90%,#7e7b76)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a7a5', endColorstr='#7e7b76',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    -moz-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
}
.sharerlistitem{
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 15px;
}


#sharer-container .leftcontainer{
    float: left;
    padding-bottom: 7px;
    padding-right: 10px;
}

#sharer-container .rightcontainer{
    float: left;
}

.sharerlistitem .rightcontainer span,
.sharerlistitem .rightcontainer p.alreadyshared{
   position: absolute;
   bottom: 13px;
   padding-bottom: 0px;
   font-size: 12px;
   font-style: italic;
   color: #131213;
   opacity: 1;
}

#compare-container {
    width: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;

    background: #7e7b76; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #a8a7a5 0%, #7e7b76 90%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a7a5), color-stop(90%,#7e7b76)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a7a5', endColorstr='#7e7b76',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    -moz-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:  1px 1px 5px rgba(0,0,0,0.5);

}

#achievementTabs{
   /* margin-top: 40px;*/
    height: 20px;
}

#achievementTabs span{
    display: inline;
    background-color: #131213;
    padding: 5px 8px;
    text-decoration: none;

    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;

    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    margin-right: 3px;
}

#achievementTabs span.selected{
    background-color: #7e7b76;

}

#achievementTabs span:hover{
    background-color: #7e7b76;
}

#achievementTabs a span{
    color: #fff;
    text-decoration: none;
}


#achievement-container{

    margin: 10px 5% 10px 5%;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;

    background: #7e7b76; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #a8a7a5 0%, #7e7b76 90%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8a7a5), color-stop(90%,#7e7b76)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  #a8a7a5 0%,#7e7b76 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a7a5', endColorstr='#7e7b76',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    -moz-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:  1px 1px 5px rgba(0,0,0,0.5);

}


.achievement-info #achievement-container{
    margin: 0px 0% 10px 0%;
}

.create-achievement{
    margin: 10px 5% 50px 5%;
}

.part-achievement{
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 15px;
    padding-bottom: 5px;
}

.progress-container{
    position: relative;
    width: 100%;
}


table{
    width: 100%;
}

table tr td{
    height: 25px;
}

table tr td.bararea{
    width: 70%;
    vertical-align: top;
    padding-top: 10px;
}

table tr td .progress-goal-container{
    position: relative;
    height: 10px;
}

table tr td.countarea{
    padding-left: 10px;
    vertical-align: top;
    padding-top: 5px;
}


#compare-container table tr td.bararea{
    width: 50%;
}

#compare-container table tr td.countarea{
    width: 20%;
}

table tr td.goal{
    width: 90%;
}

table tr td.quantity{
    width: 10%;
}

.progress-container span.progressbar,
.progress-container span.progress{
    width: 100%;
    left: 0px;
    top: -1px;
    margin-left: 0px;
}

.progress-container span.progress{

    top: 0px;
    left: 1px;
}


.separerare{
    height: 2px;
    width: 100%;
    background-color: rgb(192,192,192);

    /*background-image: linear-gradient(bottom, rgb(255,255,255) 49%, rgb(192,192,192) 50%);
     background-image: -o-linear-gradient(bottom, rgb(255,255,255) 49%, rgb(192,192,192) 50%);*/
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 49%, rgb(217,207,194) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 49%, rgb(217,207,194) 50%);
    /*background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 49%, rgb(192,192,192) 50%);*/

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, rgb(255,255,255)),
        color-stop(0.5, rgb(217,207,194))
    );
    margin-bottom: 15px;
}

.separerare-part{
    height: 2px;
    width: 100%;
    background-color: #706f6f;


    background-image: -moz-linear-gradient(bottom, #b7b6b6 49%, #757474 50%);
    background-image: -webkit-linear-gradient(bottom, #b7b6b6 49%, #757474 50%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, #b7b6b6),
        color-stop(0.5, #757474)
    );

}


.clear{
    clear: both;
}

/*-- TYPOGRAFI --*/


a,
a:active,
a:link,
a:visited{
    font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #239708;
    text-decoration: none;
}


#web-footer a{
    color: #239708;
}

#web-footer a:hover,
#web-footer a:hover{
    color: #000;
    text-decoration: underline;
}

a:hover,
a:focus{
    color: #000;
    text-decoration: none;
}

h1{
    font-family: 'Philosopher', sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
    opacity: 0.7;
}

h1.signup{

    font-size: 2em;
    font-weight: normal;
    padding-bottom: 10px;
    opacity: 1;
    color: #454545;
}

.web-wrap h1{
    padding-top: 0px;
}

h2{
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
}

h3{
    font-family: 'Philosopher', sans-serif;
    font-size: 13px;
    font-weight: normal;

    color: #fff;
}

a.headerlink{
    font-family: 'Philosopher', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

a.headerlink:hover{
    text-decoration: underline;
}


a.sharelink{
    font-family: 'Philosopher', sans-serif;
    color: #131213;
    text-decoration: underline;
}

a.sharelink:hover{
    text-decoration: none;
}

p{
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 15px;
    color: #434648;
}

p.noshareandcompare{
    padding: 10px;
}

.signup-logo p{
    padding-top: 20px;
    padding-bottom: 30px;
    color: #fff;
    opacity: 1;
}

p.user{
    color: #0c6032;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    padding-bottom: 8px;
}

p.user span{
    color: #000;
    width: 65px;
}

p.ingress{
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
}

.achievement p{
    color: #ffffff;
    padding-top: 5px;
}

p#achievementDescription{
    text-transform: none;
    padding-top: 15px;
}

/*-- SKÄRMANPASSNING --*/


@media screen and (max-width: 1080px) {
    #page,
    #page-login{
        width: 95%;

    }
}


@media screen and (max-width: 1000px) {

    .desktop{
        display: none;
    }

    .ipad{
        display: block;
    }

    #leftcontainer{
        width: 48%;
    }

    #rightcontainer{
        top:0px;
    }

    #contentwrap{
        padding-top: 50px;
    }

    #app-container,
    #app-container-login{
        position: relative;
        height: 95%
    }

}

@media screen and (max-width: 800px) {

    #app-container,
    #app-container-login{
        height: 100%
    }

    #page,
    #page-login{

        position: relative;
        margin: 0 auto;

        height:100%;
        min-height:100%;
        z-index: 1;
        width: 100%;

        background-color: #f7f7f7;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;

        -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
        -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);


    }

    #page-login{

        background: #767472; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #767472 5%, #21201f 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(5%,#767472), color-stop(100%,#21201f)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #767472 5%,#21201f 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #767472 5%,#21201f 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #767472 5%,#21201f 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #767472 5%,#21201f 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767472', endColorstr='#21201f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }




    #app-container,
    #app-container-login{
       background-color: transparent;
        background-image: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        overflow: inherit;

    }


    html,body{height:100%;}

    html>body #page{height:auto; min-height:100%;}


    #main-container{
        padding-left: 0%;
        padding-right: 0%;
    }
    #leftcontainer{
        display: none;
    }

    #rightcontainer{
        width: 100%;
        position: relative;
        float: right;
        background-color: transparent;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        right: 0%;

    }



    .web-wrap,
    #web-menu{
        display: none;
    }

    #web-footer{
        display: none;
    }

    #app-container,
    #app-container-login{
        width: 100%;
    }

    #menu,
    #topMenu{
        position: fixed;
    }

    .inputarea{
        width: 70%;
    }
    .achievement-info{
        padding-top: 50px;
    }

    #content{
        padding-top: 70px;
    }

    .banner{
        display: block;
    }
}


@media screen and (max-width: 400px) {

    .banner{
        display: none;
    }

    .inputarea{
        width: 60%;
    }

    .textarea{
        width: 60%;
    }
}