/*
	http://meyerweb.com/eric/tools/css/reset/
	1.0 | 20080212
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border: 0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }



/*-- BASE STYLES -- */


body{
    background-color: #ffffff;
}


#page{
    position: relative;
    margin: 20px auto;
    width: 1060px;
}


#web-menu{
    height: 40px;
    width: 100%;
    margin-bottom: 30px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-color: rgb(124,126,127);
    background-image: -moz-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.18, rgb(124,126,127)),
        color-stop(0.51, rgb(111,114,115)),
        color-stop(0.57, rgb(124,126,127))
    );

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
}


#web-menu a{
    text-decoration: none;
    color: #fbfbfb;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

#web-menu a span{
    padding-top: 10px;
    height: 30px;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
}

#web-menu a:hover span,
#web-menu a:focus span{
    background-color: #1e1e1e;


    background-image: -moz-radial-gradient(49% 51%, circle, rgba(255, 255, 255, 0.36), rgba(30, 30, 30, 0.36));
    background-image: -webkit-radial-gradient(49% 51%, circle, rgba(255, 255, 255, 0.36), rgba(30, 30, 30, 0.36));
    background-image: -o-radial-gradient(49% 51%, circle, rgba(255, 255, 255, 0.36), rgba(30, 30, 30, 0.36));
    background-image: -ms-radial-gradient(49% 51%, circle, rgba(255, 255, 255, 0.36), rgba(30, 30, 30, 0.36));
    background-image: radial-gradient(49% 51%, circle, rgba(255, 255, 255, 0.36), rgba(30, 30, 30, 0.36));
}


#web-menu ul li{
    float: left;
}


#web-menu ul li span{
    padding-top: 12px;
    height: 28px;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 1px solid #959798;
    border-right: 1px solid #4a4b4c;
}


#web-menu ul li img{
    margin-top: -7px;
}


#web-menu ul li.first{
    padding-top: 0px;
}

#web-menu ul li.first span{
    border-left: 0px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;

    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main-container{
    position: relative;
}

#leftcontainer{
   float: left;
   width: 59.433962%;        /* 630px/ 1060px */
   width: 59.2264151%;       /* 660px/ 1060px */
}


#leftcontainer img{
   width: 100%;
}

#rightcontainer{
   /* position: relative;
    float: right;*/
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 31.132075%;       /*390px / 1060px*/
    width: 370px;

}




.web-wrap{

    padding-bottom: 20px;
}

#web-footer{
    margin-top: 30px;
    width: 100%;
}


#web-footer ul li{

    text-align: center;
   /* height: 110px;*/
    float: left;
    width: 21%;           /*224px / 1060px*/
    width: 23.584906%;

   /* border: 3px solid #fff;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    margin-right: 1.886792%;     /*20px / 1060px*/
    background-color: #f4f4f4;
}


#web-footer ul li span{
    padding:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    border: 3px solid #fff;
    height: 110px;
}

#web-footer ul li div{
    margin: auto;
    width: 90px;
    height: 55px;
    overflow: hidden; border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);

}

#web-footer ul li div img{
    width: 90px;
}

#web-footer ul li.last{
    margin-right: 0px;

}

.banner{
    display: none;
    position: absolute;
    background-color: #fff;
    right: 0px;
    bottom: 10%;
    padding: 10px 20px 10px 20px;
    -moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);

    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.7;
}

#app-container{
    position: relative;

    background-color: rgba(243,232,214,0.5);

    background-color: #f4f4f4;
    width: 100%;
    height: 460px;
    overflow: auto;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;


    -moz-box-shadow: inset 0px 0px 10px rgba(162,162,162,0.45);
    -webkit-box-shadow: inset 0px 0px 10px rgba(162,162,162,0.45);
    box-shadow: inset 0px 0px 10px rgba(162,162,162,0.45);


}


/*-- CONTENT --*/

#content{
    position: relative;
    padding: 30px;
}

#no-padding{
    position: relative;
    padding: 0px;
}

#content div.log-in-text{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.signup-logo{

    padding-bottom: 20px;
    padding-bottom: 20px;
}

.signup-logo img{
    max-width: 100%;
}

#infoArea {
    background-color: #f4f4f4;
    min-height: 648px;



    border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
}


#infoArea div{
    padding: 20px;
}

#infoArea img{
    padding: 0px;
}


#message{
    font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #c21515;
}

#menu{

    position: absolute;
    z-index: 1;
    top: 0px;

    background-color: rgb(124,126,127);
    background-image: -moz-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(124,126,127) 18%, rgb(111,114,115) 51%, rgb(124,126,127) 57%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.18, rgb(124,126,127)),
        color-stop(0.51, rgb(111,114,115)),
        color-stop(0.57, rgb(124,126,127))
    );
    text-align: left;
    width: 100%;
   /* width: 400px;*/

}

#menu ul li{
    padding-top: 4px;
    float: left;
    width: 30%;
    padding-bottom: 2px;
}

#menu ul li.back{
    text-align: left;
    padding-left: 5%;
}

#menu ul li.logo{
    width: 30%;
    text-align: center;
    opacity: 0.8;
}

#menu ul li.add{
    float: right;
    text-align: right;
    padding-right: 5%;
}


/*-- LOG IN / SIGN UP --*/


input.formstyle,
textarea.formstyle{
    width: 98.5%;
    height: 27px;
    margin-top: 2px;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    padding-left: 1%;
    color: #2c3524;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
    border: 1px solid #9e9d9d;
}


input.button{
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    text-transform: capitalize;

    width: 99.8%;
    height: 35px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    color: #747870;
    background-color: #bed9da;
    background-image: -moz-linear-gradient(bottom, rgb(177,198,199) 49%, rgb(190,217,218) 51%);
    background-image: -webkit-linear-gradient(bottom, rgb(177,198,199) 49%, rgb(190,217,218) 51%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, rgb(177,198,199)),
        color-stop(0.51, rgb(190,217,218))
    );

    border: 1px solid #a4b9b9;


    -moz-box-shadow: inset 0px 0px 5px rgb(255,255,255);
    -webkit-box-shadow: inset 0px 0px 5px rgb(255,255,255);
    box-shadow: inset 0px 0px 5px rgb(255,255,255);
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.achievement-info .formstyle{
    margin-bottom: 5px;
}


textarea.formstyle{
    width: 98%;
    height: 82px;
    margin-bottom: 0px;
}

input.button:hover,
input.button:focus{
    background-image: none;
    background-color: #bed9da;
}

/*file*/

div.fileinputs {
    position: relative;
    margin-top: 5px;
    padding-left: 25px;
}

.fileinputs ul li{
    float: left;
    margin-right: 10px;

}

.fileinputs ul li.last{

}

div.fakefile {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;

    font-family: 'Philosopher', sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    padding-top: 5px;
    width: 95px;
    height: 18px;
    text-align: center;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    color: #747870;
    background-color: #bed9da;
    background-image: -moz-linear-gradient(bottom, rgb(177,198,199) 49%, rgb(190,217,218) 51%);
    background-image: -webkit-linear-gradient(bottom, rgb(177,198,199) 49%, rgb(190,217,218) 51%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, rgb(177,198,199)),
        color-stop(0.51, rgb(190,217,218))
    );

    border: 1px solid #a4b9b9;


    -moz-box-shadow: inset 0px 0px 5px rgb(255,255,255);
    -webkit-box-shadow: inset 0px 0px 5px rgb(255,255,255);
    box-shadow: inset 0px 0px 5px rgb(255,255,255);
    cursor: pointer;

}

input.file {
    position: relative;
    text-align: right;
    width: 95px;
    float: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}


.none{
    display: none;
}

.desktop{

}

.ipad{
    display: none;
}

/* achievement page */

.achievement{
    position: relative;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
}


.first{
    padding-top: 50px;
}

.achievement img,
.imagearea img,
.create-imagearea img{
    border: 3px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0px 0px 5px rgba(0,0,0,0.5);
    box-shadow:  0px 0px 5px rgba(0,0,0,0.5);

}

.achievement-info{
    padding-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 10px;
}

.addbutton{
  /*  padding-top: 10px;*/
    padding-left: 20px;
    text-align: right;
}


.textarea{
    width: 70%;
    float: left;
}

.inputarea{
   float: left;
   width: 60%;
}

#achievementList{
    min-height: 400px;
}

#achievementDesc{
    min-height: 400px;
}

.achievement .container{
    width: 100px;
    position: relative;
    margin: 0px auto;
    display: block;
}

.imagearea-container{
    position: relative;
    float: right;
    text-align: right;
}

.create-imagearea{
    position: relative;
}

.imagearea{
    position: relative;
    float: right;
    text-align: right;
}


.imagearea div.progress-container,
.create-imagearea div.progress-container{

    position: absolute;
    width: 68%;
    left: -1px;
    margin-left: 16%;
    height: 9px;
    bottom: 16px;
}


span.gradient-bg{
    position: absolute;

    top: 10px;
    bottom: 5px;
    left: 5px;
    right: 5px;


    background-image: linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.5) 21%, rgba(0,0,0,0) 42%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.21, rgba(0,0,0,0.5)),
        color-stop(0.42, rgba(0,0,0,0))
    );
}

span.progressbar{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    bottom: 15px;
    position: absolute;
    display: block;
    height: 4px;
    width: 68%;
    background-color: rgba(0,0,0, 0.5);
    margin-left: 15%;
    border: 1px solid rgba(253,245,228,0.8);
}

div.progress-container-achievements{
    bottom: 0px;
    position: absolute;
    display: block;
    height: 4px;
    width: 68%;
    left: 1px;
    margin-left: 15%;

}

span.progress{
    position: absolute;
    left: 0px;
    -moz-box-shadow: 0 0 6px 4px rgba(254,246,229,0.79);
    -webkit-box-shadow: 0 0 6px 4px rgba(254,246,229,0.79);
    box-shadow: 0 0 6px 4px rgba(254,246,229,0.79);
    width: 100%;
    height: 4px;
    bottom: 16px;
    background-color: #fdf5e4;

}


.imagearea .progress-container span.progress{
    top: 5px;
}


#achievement-container{
    background-color: rgba(0,0,0,0.4);
    margin: 10px 5% 10px 5%;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-image: -moz-radial-gradient(49% 51%, circle, rgba(255, 255, 255, 0.36), rgba(0, 0, 0, 0.36));
    background-image: -webkit-radial-gradient(49% 51%, circle, rgba(255, 255, 255, 0.36), rgba(0, 0, 0, 0.36));
    background-image: -o-radial-gradient(49% 51%, circle, rgba(255, 255, 255, 0.36), rgba(0, 0, 0, 0.36));
    background-image: -ms-radial-gradient(49% 51%, circle, rgba(255, 255, 255, 0.36), rgba(0, 0, 0, 0.36));
    background-image: radial-gradient(49% 51%, circle, rgba(255, 255, 255, 0.36), rgba(0, 0, 0, 0.36));


    -moz-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:  1px 1px 5px rgba(0,0,0,0.5);
}


.achievement-info #achievement-container{
    margin: 40px 0% 10px 0%;
}

.create-achievement{
    margin: 10px 5% 10px 5%;
}

.part-achievement{
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 15px;
    padding-bottom: 5px;
}

.progress-container{
    position: relative;
    width: 100%;
}


table{
    width: 100%;
    margin-bottom: 10px;
}

table tr td{
    height: 25px;
}

table tr td.bararea{
    width: 70%;
}

table tr td .progress-goal-container{
    position: relative;
    height: 10px;
}

table tr td.countarea{
    padding-left: 10px;
    vertical-align: top;
    padding-top: 8px;
}


table tr td.goal{
    width: 90%;
}

table tr td.quantity{
    width: 10%;
}

.progress-container span.progressbar,
.progress-container span.progress{
    width: 100%;
    left: 0px;
    top: -1px;
    margin-left: 0px;
}

.progress-container span.progress{

    top: 0px;
    left: 1px;
}


.separerare{
    height: 2px;
    width: 100%;
    background-color: rgb(192,192,192);

    /*background-image: linear-gradient(bottom, rgb(255,255,255) 49%, rgb(192,192,192) 50%);
     background-image: -o-linear-gradient(bottom, rgb(255,255,255) 49%, rgb(192,192,192) 50%);*/
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 49%, rgb(192,192,192) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 49%, rgb(192,192,192) 50%);
    /*background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 49%, rgb(192,192,192) 50%);*/

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, rgb(255,255,255)),
        color-stop(0.5, rgb(192,192,192))
    );
}

.separerare-part{
    height: 2px;
    width: 100%;
    background-color: rgb(192,192,192);

    /*background-image: linear-gradient(bottom, rgb(255,255,255) 49%, rgb(192,192,192) 50%);
     background-image: -o-linear-gradient(bottom, rgb(255,255,255) 49%, rgb(192,192,192) 50%);*/
    background-image: -moz-linear-gradient(bottom, rgb(183,183,183) 49%, rgb(111,111,111) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(183,183,183) 49%, rgb(111,111,111) 50%);
    /*background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 49%, rgb(192,192,192) 50%);*/

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.49, rgb(183,183,183)),
        color-stop(0.5, rgb(111,111,111))
    );
}


.clear{
    clear: both;
}

/*-- TYPOGRAFI --*/


a,
a:active,
a:link,
a:visited{
    font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #2c3524;

}

a:hover,
a:focus{
    color: #000;
    text-decoration: none;
}

h1{
    font-family: 'Philosopher', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    padding-bottom: 15px;
    opacity: 0.7;
}

h1.signup{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3em;
    padding-bottom: 0px;
    opacity: 0.7;
}

.web-wrap h1{
    padding-top: 0px;
}

h2{
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    opacity: 0.7;
    padding-bottom: 5px;
}

h3{
    font-family: 'Philosopher', sans-serif;
    font-size: 13px;
    font-weight: normal;
    opacity: 0.7;
}
p{
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 15px;
    opacity: 0.7;
}


p.ingress{
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
}

.achievement p{
    padding-top: 5px;
}

p#achievementDescription{
    text-transform: none;
    padding-top: 15px;
}

/*-- SKÄRMANPASSNING --*/


@media screen and (max-width: 1080px) {
    #page{
        width: 95%;
    }
}


@media screen and (max-width: 1000px) {
    .desktop{
        display: none;
    }

    .ipad{
        display: block;
    }

    #leftcontainer{
        width: 48%;
    }

    #rightcontainer{
        top:0px;
    }


    #app-container{
        position: relative;

        background-color: #f4f4f4;
        height: 100%;


    }

}

@media screen and (max-width: 800px) {



    #page{
        position: relative;

        margin: 0 auto;

        height:100%;
        min-height:100%;
        z-index: 1;
        width: 100%;

        background-color: #f4f4f4;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;


        -moz-box-shadow: inset 0px 0px 10px rgba(162,162,162,1);
        -webkit-box-shadow: inset 0px 0px 10px rgba(162,162,162,1);
        box-shadow: inset 0px 0px 10px rgba(162,162,162,1);


    }


    #app-container{
       background-color: transparent;
        background-image: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        overflow: inherit;

    }


    html,body{height:100%;}

    html>body #page{height:auto; min-height:100%;}

    #leftcontainer{
        display: none;
    }

    #rightcontainer{
        width: 100%;
        position: relative;
       float: right;

        background-color: transparent;


        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;

        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }

    .web-wrap,
    #web-menu{
        display: none;
    }

    #web-footer{
        display: none;
    }

    #app-container{
        width: 100%;
    }

    #menu{
        position: fixed;
        width: 100%;
    }

    .inputarea{
        width: 70%;
    }

    .banner{
        display: block;
    }
}


@media screen and (max-width: 400px) {

    .banner{
        display: none;
    }

    .inputarea{
        width: 60%;
    }

    .textarea{
        width: 60%;
    }
}




